.ant-tabs .ant-tabs-left-bar {
  border-right: none;
}
.ant-tabs-vertical.ant-tabs-card.ant-tabs-left .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-tab {
  width: 220px;
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 0px;
  text-align: left;
  background-color: unset;
  border: none;
  &.ant-tabs-tab-active {
    color: var(--gold-text);
    background-color: var(--lighter-grey-bg);
  }
}
.ant-tabs-tab-active .ant-tabs-tab {
  background-color: var(--lighter-grey-bg);
  overflow: hidden;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab, .ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
  &:hover {
    color: var(--gold-text);
  }
}


.ant-tabs-vertical.ant-tabs-card.ant-tabs-left .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-tab {
  border-radius: 0;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  border: none;
}

.ant-tabs .ant-tabs-left-content {
  border-left: 0;
  background-color: var(--lighter-grey-bg);
  padding: 10px 20px;
  padding-top: 25px;
  overflow-y: scroll;
  height: calc(100vh - 65px);
  h3 {
    color: var(--grey-text);
  }
}

.form input {
  box-sizing: unset;
  color: #000;
}
.spinner>div {
  margin: 0 1px
}